Tags/backup_20141004/MSB_BEC_JAVA_07112013/wsdl/OtpCalculator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. -->
<xs:schema xmlns:tns="http://otpgenerate.msb.com.vn/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://otpgenerate.msb.com.vn/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="PreexistingEntityException" type="tns:PreexistingEntityException"/>

<xs:element name="checkOtp" type="tns:checkOtp"/>

<xs:element name="checkOtpResponse" type="tns:checkOtpResponse"/>

<xs:element name="getOtp" type="tns:getOtp"/>

<xs:element name="getOtpResponse" type="tns:getOtpResponse"/>

<xs:complexType name="checkOtp">
<xs:sequence>
<xs:element name="transactionID" type="xs:string" minOccurs="0"/>
<xs:element name="otpTransactionId" type="xs:long"/>
<xs:element name="iValueTime" type="xs:int"/>
<xs:element name="sOtp" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkOtpResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PreexistingEntityException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOtp">
<xs:sequence>
<xs:element name="transactionID" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOtpResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>